{
    "env": {
      "commonjs": true,
      "es6": true,
      "node": true
    },
    "extends": ["react-app", "prettier"],
    "parserOptions": {
      "ecmaVersion": 2018
    },
    "rules": {
      "no-console": "error",
      "prettier/prettier": "error"
    },
    "plugins": ["prettier"]
  }